.divider-5{
  margin-top:5px;
}
.divider-10{
  margin-top: 10px;
}
.divider-15{
  margin-top: 15px;
}
.divider-20{
  margin-top: 20px;
}
.divider-25{
  margin-top:25px;
}
.divider-30{
  margin-top: 30px;
}
.divider-35{
  margin-top: 35px;
}
.divider-40{
  margin-top: 40px;
}
.divider-45{
  margin-top: 45px;
}
.divider-50{
  margin-top: 50px;
}
.divider-55{
  margin-top:55px;
}
.divider-60{
  margin-top:60px;
}
.divider-65{
  margin-top:65px;
}
.divider-70{
  margin-top:70px;
}
.divider-75{
  margin-top:75px;
}
.divider-80{
  margin-top:80px;
}
.divider-85{
  margin-top:85px;
}
.divider-90{
  margin-top:90px;
}
.divider-95{
  margin-top:95px;
}
.divider-100{
  margin-top:100px;
}
.divider-110{
  margin-top:110px;
}
.divider-120{
  margin-top:120px;
}
.divider-130{
  margin-top:130px;
}
.divider-140{
  margin-top:140px;
}
.divider-150{
  margin-top:150px;
}
@media screen and (min-width:567px) {
  .divider-sm-0{
    margin-top: 0px;
  }
  .divider-sm-5{
    margin-top:5px;
  }
  .divider-sm-10{
    margin-top: 10px;
  }
  .divider-sm-15{
    margin-top: 15px;
  }
  .divider-sm-20{
    margin-top: 20px;
  }
  .divider-sm-25{
    margin-top:25px;
  }
  .divider-sm-30{
    margin-top: 30px;
  }
  .divider-sm-35{
    margin-top: 35px;
  }
  .divider-sm-40{
    margin-top: 40px;
  }
  .divider-sm-45{
    margin-top: 45px;
  }
  .divider-sm-50{
    margin-top: 50px;
  }
  .divider-sm-55{
    margin-top:55px;
  }
  .divider-sm-60{
    margin-top:60px;
  }
  .divider-sm-65{
    margin-top:65px;
  }
  .divider-sm-70{
    margin-top:70px;
  }
  .divider-sm-75{
    margin-top:75px;
  }
  .divider-sm-80{
    margin-top:80px;
  }
  .divider-sm-85{
    margin-top:85px;
  }
  .divider-sm-90{
    margin-top:90px;
  }
  .divider-sm-95{
    margin-top:95px;
  }
  .divider-sm-100{
    margin-top:100px;
  }
  .divider-sm-110{
    margin-top:110px;
  }
  .divider-sm-120{
    margin-top:120px;
  }
  .divider-sm-130{
    margin-top:130px;
  }
  .divider-sm-140{
    margin-top:140px;
  }
  .divider-sm-150{
    margin-top:150px;
  }
}
@media screen and (min-width:768px) {
  .divider-md-0{
    margin-top: 0px;
  }
  .divider-md-5{
    margin-top:5px;
  }
  .divider-md-10{
    margin-top: 10px;
  }
  .divider-md-15{
    margin-top: 15px;
  }
  .divider-md-20{
    margin-top: 20px;
  }
  .divider-md-25{
    margin-top:25px;
  }
  .divider-md-30{
    margin-top: 30px;
  }
  .divider-md-35{
    margin-top: 35px;
  }
  .divider-md-40{
    margin-top: 40px;
  }
  .divider-md-45{
    margin-top: 45px;
  }
  .divider-md-50{
    margin-top: 50px;
  }
  .divider-md-55{
    margin-top:55px;
  }
  .divider-md-60{
    margin-top:60px;
  }
  .divider-md-65{
    margin-top:65px;
  }
  .divider-md-70{
    margin-top:70px;
  }
  .divider-md-75{
    margin-top:75px;
  }
  .divider-md-80{
    margin-top:80px;
  }
  .divider-md-85{
    margin-top:85px;
  }
  .divider-md-90{
    margin-top:90px;
  }
  .divider-md-95{
    margin-top:95px;
  }
  .divider-md-100{
    margin-top:100px;
  }
  .divider-md-110{
    margin-top:110px;
  }
  .divider-md-120{
    margin-top:120px;
  }
  .divider-md-130{
    margin-top:130px;
  }
  .divider-md-140{
    margin-top:140px;
  }
  .divider-md-150{
    margin-top:150px;
  }
}
@media screen and (min-width:992px) {
  .divider-lg-0{
    margin-top: 0px;
  }
  .divider-lg-5{
    margin-top:5px;
  }
  .divider-lg-10{
    margin-top: 10px;
  }
  .divider-lg-15{
    margin-top: 15px;
  }
  .divider-lg-20{
    margin-top: 20px;
  }
  .divider-lg-25{
    margin-top:25px;
  }
  .divider-lg-30{
    margin-top: 30px;
  }
  .divider-lg-35{
    margin-top: 35px;
  }
  .divider-lg-40{
    margin-top: 40px;
  }
  .divider-lg-45{
    margin-top: 45px;
  }
  .divider-lg-50{
    margin-top: 50px;
  }
  .divider-lg-55{
    margin-top:55px;
  }
  .divider-lg-60{
    margin-top:60px;
  }
  .divider-lg-65{
    margin-top:65px;
  }
  .divider-lg-70{
    margin-top:70px;
  }
  .divider-lg-75{
    margin-top:75px;
  }
  .divider-lg-80{
    margin-top:80px;
  }
  .divider-lg-85{
    margin-top:85px;
  }
  .divider-lg-90{
    margin-top:90px;
  }
  .divider-lg-95{
    margin-top:95px;
  }
  .divider-lg-100{
    margin-top:100px;
  }
  .divider-lg-110{
    margin-top:110px;
  }
  .divider-lg-120{
    margin-top:120px;
  }
  .divider-lg-130{
    margin-top:130px;
  }
  .divider-lg-140{
    margin-top:140px;
  }
  .divider-lg-150{
    margin-top:150px;
  }
}
@media screen and (min-width:1200px) {
  .divider-xl-0{
    margin-top: 0px;
  }
  .divider-xl-5{
    margin-top:5px;
  }
  .divider-xl-10{
    margin-top: 10px;
  }
  .divider-xl-15{
    margin-top: 15px;
  }
  .divider-md-20{
    margin-top: 20px;
  }
  .divider-xl-25{
    margin-top:25px;
  }
  .divider-xl-30{
    margin-top: 30px;
  }
  .divider-xl-35{
    margin-top: 35px;
  }
  .divider-xl-40{
    margin-top: 40px;
  }
  .divider-xl-45{
    margin-top: 45px;
  }
  .divider-xl-50{
    margin-top: 50px;
  }
  .divider-xl-55{
    margin-top:55px;
  }
  .divider-xl-60{
    margin-top:60px;
  }
  .divider-xl-65{
    margin-top:65px;
  }
  .divider-xl-70{
    margin-top:70px;
  }
  .divider-xl-75{
    margin-top:75px;
  }
  .divider-xl-80{
    margin-top:80px;
  }
  .divider-xl-85{
    margin-top:85px;
  }
  .divider-xl-90{
    margin-top:90px;
  }
  .divider-xl-95{
    margin-top:95px;
  }
  .divider-xl-100{
    margin-top:100px;
  }
  .divider-xl-110{
    margin-top:110px;
  }
  .divider-xl-120{
    margin-top:120px;
  }
  .divider-xl-130{
    margin-top:130px;
  }
  .divider-xl-140{
    margin-top:140px;
  }
  .divider-xl-150{
    margin-top:150px;
  }
}
